@tailwind base;
@tailwind components;
@tailwind utilities;

.r-w {
  width: 1140px;
  margin: auto;
}

@media (max-width: 1160px) {
  .r-w {
    width: 90%;
  }
}

html {
  scroll-behavior: smooth;
}

.g-t {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neu {
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 30px #d9d9d9, -20px -20px 30px #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
